/* app/globals.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0059c9;
}
