.example-spacer {
  flex: 1 1 auto;
}
.navbar {
  background-color: rgb(24, 4, 24); /* Cor de fundo personalizada */
  color: white; /* Cor do texto personalizada */
}
::ng-deep .navbar button.mat-button {
  color: white;
}

::ng-deep .navbar span {
  color: white;
}
.logout-btn {
  background-color: #c62828 !important; /* vermelho forte */
  color: white !important;
  border-radius: 6px;
  padding: 6px 16px;
}

.logout-btn:hover {
  background-color: #b71c1c !important;
}
