h1{
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
    margin-bottom: 12px;

}
.btn-white-purple {
  background-color: white !important; 
  color: purple !important;          
  border: 1px solid purple;           
}

.btn-white-purple:hover {
  background-color: #f0f0f0 !important; 
}