<div class="container mt-5 d-flex justify-content-center">
  <div>
    <h1 style="color: white; text-align: center;">Depósito</h1>
    <form [formGroup]="formGroup" class="example-form mt-4" (ngSubmit)="depositar()">
      <!-- Campo valor -->
      <small class="text-danger mb-2" *ngIf="formGroup.get('valor')?.errors &&
        formGroup.get('valor')?.hasError('required')">
        
      </small>
      <mat-form-field class="example-full-width">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="valor" type="number">
      </mat-form-field>

      <!-- Campo conta -->
      <small class="text-danger mb-2" *ngIf="formGroup.get('conta')?.errors &&
        formGroup.get('conta')?.hasError('required')">
      
      </small>
      <mat-form-field class="example-full-width">
        <mat-label>Conta</mat-label>
        <mat-select formControlName="conta">
          <mat-option *ngFor="let conta of contas" [value]="conta.id">
            {{ conta.numero }} - {{ conta.agencia }} - {{ conta.cliente }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Botão -->
      <div class="d-flex justify-content-center">
        <button [disabled]="!formGroup.valid" type="submit" mat-raised-button class="btn-cadastrar">
          Depositar
        </button>
      </div>
    </form>
  </div>
</div>
