.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    }
.btn-cadastrar {
  background-color: #28a745 !important; /* verde estilo bootstrap */
  color: white !important;
  font-weight: bold;
  padding: 16px 48px;
  border-radius:60px;
  border: none;
  cursor: pointer;
}

.btn-cadastrar:hover {
  background-color: #218838 !important; /* verde mais escuro no hover */
}    
